<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>CS348 Project Home</title>
</head>
<body>
    <!-- Setup all the different pages -->
    <h1>Welcome to the CS348 Project</h1>
    <a href="/add_edit_delete">Manage Meetings</a><br>
    <a href="/manage_organizers">Manage Organizers</a><br>
    <a href="/invites_rsvps">Invites & RSVPs</a><br>
    <a href="/report">Generate Report</a>
</body>
</html>
