<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>CS348 Project Home</title>
    <style>
        body {
            margin: 5px;
            font-family: "Comic Sans MS", cursive, sans-serif;
            color: #000000;
            background-color: #bcbcbc;
            text-align: center;
        }

    </style>
</head>
<body>
    <!-- Setup all the different pages -->
    <header>
        <h1>Welcome to the CS348 Project</h1>
    </header>
    <main>
        <div class="button-container">
            <a href="/add_edit_delete">Manage Meetings</a>
            <a href="/manage_organizers">Manage Organizers</a>
            <a href="/invites_rsvps">Invites & RSVPs</a>
            <a href="/report">Generate Report</a>
        </div>
    </main>
</body>
</html>
